* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 505px 573px repeat(2, 507px) 560px 140px ;
}

header {
    display: flex;
    align-items: center;
    background-image: url(./images/Header\ Background.svg);
    background-repeat: no-repeat;
    width: 100vw;
    min-width: 100vw;
    box-sizing: border-box;
    grid-column: 1 / -1;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;      
    height: auto;    
    min-height: 200px;
    margin: 24px;
    gap: 24px;
}

#title-header {
    display: flex;
    align-self: flex-start;
    width: 100%;
    max-width: 278px;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400px;
    size: 32px;
    color: white;
}

#description-header {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: white;
    letter-spacing: 0%;
    line-height: 1.2;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    gap: 16px;
    height: auto;
    width: 100%;
}

#download, #open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 54px;
    border-radius: 28px;
    text-decoration: none;
    border: none;
}

#download {
    display: flex;
    background-color: white;
    color: #23272A;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

#open {
    display: flex;
    background-color: #23272A;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.section-1, .section-2, .section-3, .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;   
    min-height: 200px;
    gap: 24px;
    padding: 40px 24px 40px 24px;
}

#images {
    width: 379px;
    height: 252px;
    padding: 16px 8px 16px 8px;
}

#title {
    display: flex;
    width: 100%;
    align-self: flex-start;
    max-width: 370px;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    size: 24px;
    color: #23272A;
}

#description {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 381px;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #23272A;
}

.section-2, .section-4 {
    background-color: #F6F6F6;
}

#title-4 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 32px;
    color: #23272A;
}

footer {
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-logo {
    width: 162px;
    height: 30.77px;
}

@media (min-width: 450px) {

html, body {
    width: 100%;
    }


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./images/Header\ Background.svg);
}

.header-content {
    display: flex;
    flex-direction: column; 
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 757px;
    background-size: cover;
}

#title-header {
    display: flex;
    align-self: center;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400px;
    color: white;
}

#description-header {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: white;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    max-width: 502px;
    max-height: 44px;
}

#download, #open {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    text-decoration: none;
    border: none;
}

#download {
    display: flex;
    background-color: white;
    color: #23272A;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

#open {
    display: flex;
    background-color: #23272A;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    max-height: 744px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 744px;
}

#images {
    width: 607px;
    height: 394px;
    padding: 16px 8px 16px 8px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.desc-2 {
    order: 1;
}

.section-2 img {
    order: 2;
}

#title {
    display: flex;
    align-self: flex-start;
    width: 100%;
    max-height: 270px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color:#23272A;
}

#description {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 381px;
    height: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #23272A;
}

#description-4 {
    display: flex;
    max-width: 802px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #23272A;
}

.section-2, .section-4 {
    background-color: #F6F6F6;
}

#title-4 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 32px;
    color: #23272A
}

}